	body {
		background-color: black;
		color: white;
	}
	p {
		padding-top: 25px;
	}

	li {
		line-height: 40px;
	}	
	button {
		
	}
	.good {
		border:2px solid green;
	}
	.bad {
		border:2px solid red;
	}
	.result {
		border:2px solid white;
		margin-top: 10px;
		padding: 10px 10px 10px 10px;
		color: green;
	}